

ListView(padding=[1,2,3,4])
    each item in list
        GestureDetector(onTap="listItemClick")
            Text(text=item.text)
Divider(height=1, color="#ffff0000")
        Text(text=item.text)
Divider(height=1, color="#ffff0000")
